name: Build FNF for Xbox
on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true # Important

      - name: Setup Haxe
        uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.3.4

      - name: Configure Git
        run: |
          git config --global core.askpass ""
          git config --global url."https://github.com/".insteadOf "git@github.com:"

      - name: Install Libraries
        run: |
          haxelib install lime 8.0.2
          haxelib install openfl 9.3.3
          haxelib install flixel 5.5.0
          haxelib install flixel-addons 3.2.1
          haxelib install flixel-ui 2.5.0
          haxelib install hscript 2.5.0
          haxelib install hxp 1.1.3
          haxelib install flixel-tools
          haxelib install tjson
          haxelib git flxanimate https://github.com/Dot-Stuff/flxanimate.git
          haxelib git linc_luajit https://github.com/superpowers04/linc_luajit.git
          haxelib git funkin.vis https://github.com/FunkinCrew/funkin.vis.git
          haxelib git grig.audio https://github.com/grig-org/grig.audio.git
          haxelib run lime setup
          haxelib run flixel-tools setup -y

      - name: Compile Game
        run: haxelib run lime build windows -release -D official_build
