name: Build UWP Project

on: [push]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Setup Haxe
      uses: krdlab/setup-haxe@v1
      with:
        haxe-version: 4.2.5

    - name: Install Haxelib dependencies
      shell: cmd
      run: |
        haxelib install lime
        haxelib install openfl
        haxelib install flixel
        haxelib install flixel-addons
        haxelib install flixel-ui
        haxelib install hscript
        haxelib install tjson
        haxelib install hxcpp
        haxelib install hxp
        haxelib run hxcpp build

        haxelib git flxanimate https://github.com/Dot-Stuff/flxanimate.git
        haxelib git linc_luajit https://github.com/superpowers04/linc_luajit.git
        haxelib git funkin.vis https://github.com/FunkinCrew/funkin.vis.git
        haxelib git grig.audio https://github.com/grig-org/grig.audio.git

        haxelib run lime setup

    # initialise l'environnement Visual Studio (CRUCIAL)
    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    # on exporte seulement le projet UWP
    - name: Export UWP project
      shell: cmd
      run: |
        haxelib run lime build windows -Duwp -Dno-compilation

    - name: Upload project
      uses: actions/upload-artifact@v4
      with:
        name: Funkin-UWP-Project
        path: export/windows/uwp
