name: Build UWP Project

on: [push]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Setup Haxe
      uses: krdlab/setup-haxe@v1
      with:
        haxe-version: 4.2.5

    - name: Install Dependencies
      shell: cmd
      run: |
        git config --global http.postBuffer 524288000
        haxelib install lime 7.9.0
        haxelib install openfl 9.1.0
        haxelib install flixel 5.2.2
        haxelib install flixel-addons 3.0.2
        haxelib install flixel-ui 2.5.0
        haxelib install hscript 2.5.0
        haxelib install tjson
        haxelib install hxcpp 4.2.1
        haxelib install hxp 1.1.2
        haxelib git flxanimate https://github.com/Dot-Stuff/flxanimate.git --quiet
        haxelib git linc_luajit https://github.com/superpowers04/linc_luajit.git --quiet
        haxelib git funkin.vis https://github.com/FunkinCrew/funkin.vis.git --quiet
        haxelib git grig.audio https://github.com/grig-org/grig.audio.git --quiet
        haxelib run lime setup

    - name: Remove Problematic HXP File
      shell: pwsh
      run: |
        if (Test-Path "project.hxp") {
            Remove-Item "project.hxp" -Force
            Write-Host "Suppressed project.hxp to force XML usage."
        }
        if (Test-Path "Project.hxp") {
            Remove-Item "Project.hxp" -Force
            Write-Host "Suppressed Project.hxp to force XML usage."
        }

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    - name: Export UWP project
      shell: cmd
      run: |
        haxelib run lime build windows -uwp -release -D official_build
        
    - name: Upload project
      uses: actions/upload-artifact@v4
      with:
        name: Funkin-UWP-Project
        path: export/release/windows/uwp/bin
