name: Build UWP Project

on: [push]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Setup Haxe
      uses: krdlab/setup-haxe@v1
      with:
        haxe-version: 4.2.5

    - name: Install Legacy Dependencies
      shell: cmd
      run: |
        haxelib install lime 7.7.0
        haxelib install openfl 9.0.2
        haxelib install flixel 4.11.0
        haxelib install flixel-addons 2.11.0
        haxelib install flixel-ui 2.4.0
        haxelib install hscript 2.4.0
        haxelib install tjson 1.4.0
        haxelib install hxcpp 4.2.1
        haxelib install hxp 1.1.0
        haxelib git flxanimate https://github.com/Dot-Stuff/flxanimate.git
        haxelib git linc_luajit https://github.com/superpowers04/linc_luajit.git
        haxelib git funkin.vis https://github.com/FunkinCrew/funkin.vis.git
        haxelib git grig.audio https://github.com/grig-org/grig.audio.git
        haxelib run lime setup

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    - name: Export UWP project
      shell: cmd
      run: |
        haxelib run lime build windows -uwp -release -D official_build -v
        
    - name: Upload project
      uses: actions/upload-artifact@v4
      with:
        name: Funkin-UWP-Project
        path: export/release/windows/uwp/bin
