name: Build UWP Project

on: [push]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: true # Important pour les librairies git

    - name: Setup Haxe
      uses: krdlab/setup-haxe@v1
      with:
        haxe-version: 4.3.4 # On repasse en 4.3.4 pour le support du '?'

    - name: Install Dependencies
      shell: cmd
      run: |
        :: On installe les versions standard (Lime 8+ est requis par ton projet)
        haxelib install lime
        haxelib install openfl
        haxelib install flixel
        haxelib install flixel-addons
        haxelib install flixel-ui
        haxelib install hscript
        haxelib install tjson
        haxelib install hxcpp
        haxelib install hxp
        
        :: Installation des repos Git (Correction des erreurs de clone)
        haxelib git flxanimate https://github.com/Dot-Stuff/flxanimate.git --quiet
        haxelib git linc_luajit https://github.com/superpowers04/linc_luajit.git --quiet
        haxelib git funkin.vis https://github.com/FunkinCrew/funkin.vis.git --quiet
        haxelib git grig.audio https://github.com/grig-org/grig.audio.git --quiet
        
        haxelib run lime setup

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    - name: Export UWP project
      shell: cmd
      run: |
        :: On utilise la commande native de Lime pour l'UWP
        haxelib run lime build uwp -release -D official_build
        
    - name: Upload project
      uses: actions/upload-artifact@v4
      with:
        name: Funkin-UWP-Project
        path: export/release/uwp/bin
