name: Build FNF for Xbox
on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup Haxe
        uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.3.4

      - name: Install Libraries
        run: |
          haxelib install lime --silent
          haxelib install openfl --silent
          haxelib install flixel --silent
          haxelib install flixel-addons --silent
          haxelib install flixel-ui --silent
          haxelib install hscript --silent
          haxelib install hxp --silent
          haxelib install tjson --silent
          haxelib install flixel-tools --silent
          haxelib git flxanimate https://github.com/Dot-Stuff/flxanimate.git --quiet
          haxelib git linc_luajit https://github.com/superpowers04/linc_luajit.git --quiet
          haxelib git funkin.vis https://github.com/FunkinCrew/funkin.vis.git --quiet
          haxelib git grig.audio https://github.com/grig-org/grig.audio.git --quiet
          haxelib run lime setup
          haxelib run flixel-tools setup -y
        shell: cmd

      - name: Compile Game
        run: haxelib run lime build windows -release -D official_build

      - name: Compile Game
        run: haxelib run lime build windows -release -D official_build
