name: Build FNF 0.8.1 for Xbox
on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup Haxe
        uses: krdlab/setup-haxe@v1
        with:
          haxe-version: 4.2.5

      - name: Install Libraries
        run: |
          haxelib install lime 7.9.0
          haxelib install openfl 9.1.0
          haxelib install flixel 5.2.2
          haxelib install flixel-addons 3.0.2
          haxelib install flixel-ui 2.5.0
          haxelib install hscript 2.5.0
          haxelib install hxp 1.1.3
          haxelib install tjson
          haxelib git flxanimate https://github.com/Dot-Stuff/flxanimate.git
          haxelib git linc_luajit https://github.com/superpowers04/linc_luajit.git
          haxelib git funkin.vis https://github.com/FunkinCrew/funkin.vis.git
          haxelib git grig.audio https://github.com/grig-org/grig.audio.git
          haxelib run lime setup
        shell: cmd

      - name: Patch Project Files
        run: |
          powershell -Command "Get-ChildItem -Recurse Project.hx | ForEach-Object { (Get-Content $_.FullName) -replace ' \?', '' | Set-Content $_.FullName }"
        shell: cmd

      - name: Compile Game
        run: haxelib run lime build windows -release -D official_build

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: FridayNightFunkin-Xbox
          path: export/release/windows/bin
