name: Build UWP Project

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:

    # récupère le repo + submodules
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: true

    # installe Haxe moderne (important)
    - name: Setup Haxe
      uses: krdlab/setup-haxe@v1
      with:
        haxe-version: 4.3.4

    # installe toutes les libs FNF
    - name: Install Haxelib dependencies
      shell: cmd
      run: |
        haxelib git lime https://github.com/openfl/lime.git
        haxelib git openfl https://github.com/openfl/openfl.git
        haxelib install flixel
        haxelib install flixel-addons
        haxelib install flixel-ui
        haxelib install hscript
        haxelib install tjson
        haxelib install hxcpp
        haxelib install hxp

        haxelib run hxcpp build

        haxelib git flxanimate https://github.com/Dot-Stuff/flxanimate.git
        haxelib git linc_luajit https://github.com/superpowers04/linc_luajit.git
        haxelib git funkin.vis https://github.com/FunkinCrew/funkin.vis.git
        haxelib git grig.audio https://github.com/grig-org/grig.audio.git

        haxelib run lime setup

    # initialise MSVC (sinon hxcpp ne détecte pas le toolchain)
    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    # export projet UWP (sans compilation native)
    - name: Export UWP project
      shell: cmd
      run: |
        haxelib run lime build windows -Duwp -Dno-compilation

    # upload artefact téléchargeable
    - name: Upload UWP project
      uses: actions/upload-artifact@v4
      with:
        name: Funkin-UWP-Project
        path: export/windows/uwp
